[submodule "ceres-blockchain-gui"]
	path = ceres-blockchain-gui
	url = https://github.com/Ceres-Network/ceres-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Ceres-Network/mozilla-ca.git
        branch = main
